.div-content {
    width: 100%;
    margin: 0 auto;
}

.align-right {
    float: right;
}

.mat-form-field {
    margin-left: 5px;
}

.card-product {
    margin-top: 10px;
    padding-bottom: 50px;
}

.card-list {
    margin-top: 1px;
}

.btn-grid {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.img-list{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 20px;
}

.icon-grid {
    margin-top: -11px;
    position: absolute;
    margin-left: -12px;
}

.content-component {
    margin-top: 10px;
    max-width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.size-form {
    width: 100%;
}

.size-input {
    min-width: 200px;
    max-width: 500px;
}

.btn-save:hover {
    background-color: #1b2f77;
}

.btn-cancel{
    margin-right: 5px;
}

.btn-delete-list:hover, .btn-cancel:hover {
    background-color: #870000;
}

.input-file{
    font-size: smaller;
}
